<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Formulaire</title>
</head>
<body>
<form method="post">
    <label for="name">Enter your name:</label><br>
    <input type="text" name="name" value="tomtom"/><br>
    <label for="age">Enter your age:</label><br>
    <input type="number" name="age" value="77"/><br>
    <input type="submit">
</form>

<p>Result: {{ result }}</p>

</body>
</html>