<template>
  <Header />
  <h4 class="form-label">Ajouter une nouvelle donnée</h4>
  <NewDataForm />
</template>
<script lang="ts">
import NewDataForm from "../components/Form/NewDataForm.vue";
import Header from "../components/Header.vue";

export default {
  components: {
    NewDataForm,
    Header,
  },
};
</script>
